@media screen and (min-width:1px){
    .singleQuestion, .question{
        width:0.0001px;
        height:0.0001px;
        display:none;
        opacity:0;
    }

}

@media screen and (min-width:300px){
    .singleQuestion, .question{
        width:100%;
        height:auto;
        opacity:1;
        
    }



    .singleQuestion{
        display:inline-block;

    }

    .question{
        display:block;
        margin-top:25vh;
        margin-bottom:15vh;
    }

    .singleQuestionTitle{
        font-size:24px;
        font-weight:bold;
        width:92%;
        margin-left:5%;
        margin-left:3%;
        color:rgb(61, 70, 81);
        margin-top:10vh;
    }

    .singleQuestionBtn{
        background-color:transparent;
        border:none;
        cursor:pointer;
        color:rgb(61, 70, 81);
        width:4vw;

    }

    .singleQuestionParagraph{
        font-size:20px;
        width:92%;
        color:rgb(61, 70, 81);
        margin-left:3%;
        padding-bottom:20vh;
        margin-top:2vh;
        border-bottom:2px solid black;
        margin-top:7vh;

    }
.singleQuestionTitleContainer{
    display:flex;
    border-bottom:2px solid black;
    
}
    .questionTitle{
        font-size:22px;
        font-weight:bold;
        margin-left:3%;
        text-decoration:underline;
        margin-bottom:10vh;
        
    }

}

@media screen and (min-width:1024px){
.singleQuestionParagraph, .singleQuestionTitle{
    width:70vw;
}

.singleQuestionParagraph{
    width:70vw;
    margin-left:15vw;
}

.singleQuestionTitleContainer{
    width:70vw;
    margin-left:13vw;
    padding:0;
}

.questionTitle{
    margin-left:15vw;
}

}

@media screen and (min-width:1500px){
.questionTitle{
    font-size:34px;
}

.singleQuestionTitle{
    font-size:30px;

}
.singleQuestionParagraph{
    font-size: 28px;
}
}


@media screen and (min-width:1800px){
    .questionTitle{
        font-size:38px;
    }
    
    .singleQuestionTitle{
        font-size:34px;
    
    }
    .singleQuestionParagraph{
        font-size: 32px;
    }
    }
    