@media screen and (min-width:1px){
    .address{
        width:0.0001px;
        height:0.0001px;
        display:none;
        opacity:0;
    }

}

@media screen and (min-width:300px){
    .address{
        width:100%;;
        height:auto;
        display:block;
        opacity:1;
    }
    .addressTitle{
        color: #99cc33;
        text-shadow: rgb(0, 0, 0) 2px 2px 4px;
        font-size:40px;
        font-weight:bolder;
        margin-bottom:5vh;
        width:90vw;
        margin-left:5vw;
        text-align:center;
    }
    
    .addressSubTitle{
        color: rgb(255, 152, 0);
        font-weight:bold;
        font-size:23px;
        margin-bottom:5vh;
        width:90vw;
        margin-left:5vw;
        text-align:center;
    
    }
    
    .addressBtn{
        background-color: rgb(153, 204, 51);
        font-weight:700;
        color:white;
        text-transform:uppercase;
        cursor:pointer;
        text-align:center;
        width:90vw;
        margin-left:5vw;
        height:10vh;
        margin-bottom:7vh;
    
    }
    
    .addressSpan{
        font-weight:bold;
        color:black;
        font-size:20px;
        width:90vw;
        margin-left:5vw;
        margin-bottom:3vh;
    }
    
    .addressParagraph{
        color:black;
        font-size:20px;
        line-height:30px;
        width:90vw;
        margin-left:5vw;
        margin-bottom:7vh;
    }
}


@media screen and (min-width:500px){
.addressBtn{
    width:50vw;
    margin-left:25vw;
}

}

@media screen and (min-width:600px){
    .addressBtn{
        width:40vw;
        margin-left:30vw;
    }
    
    }

    @media screen and (min-width:800px){
        .addressBtn{
            width:30vw;
            margin-left:35vw;
        }
        
        }
        @media screen and (min-width:1200px){
.addressBtn{
    font-size:18px;
}
        }

        @media screen and (min-width:1600px){
            .addressTitle{
                font-size: 46px;
            }

            .addressSubTitle{
                font-size:34px;
            }
            

            .addressParagraph{
                font-size:26px;
            }

            .addressBtn{
                font-size:26px;
            }
            .addressSpan{
                font-size:26px;
            }
            }

            @media screen and (min-width:1800px){
                .addressTitle{
                    font-size: 54px;
                }
    
                .addressSubTitle{
                    font-size:42px;
                }
                
    
                .addressParagraph{
                    font-size:34px;
                }
    
                .addressBtn{
                    font-size:34px;
                }

                .addressSpan{
                    font-size:34px;
                }
                }
            
        
    
