@media screen and (min-width:1px){
    .fooiter{
        width:0.0001px;
        height:0.0001px;
        display:none;
        opacity:0;
    }

}

@media screen and (min-width:300px){
    .footer{
        width:100%;
        height:auto;
        display:block;
        opacity:1;
        background-color: rgb(153, 204, 51);
    }

    .footerImg{
        width:100vw;
    }

}

@media screen and (min-width:1024px){

.footerImg{
    width:30vw;
    margin-left:35vw;
}
}