@media screen and (min-width:1px){
    .homeAttraction{
        width:0.0001px;
        height:0.0001px;
        display:none;
        opacity:0;
    }

}

@media screen and (min-width:1024px){
    .homeAttraction{
        width:100%;
        height:auto;
        display:grid;
        opacity:1;
        grid-template-columns:1fr,1fr;
        grid-template-rows:1fr,1fr,1fr,1fr;
    }

    .homeAttractionImgContainer1{
        width:50vw;
        margin-bottom:5vw;
        grid-column:1;
        grid-row:1;
        padding-left:12vw;
        box-sizing:border-box;
    }

    .homeAttractionImgContainer2{
        width:50vw;
        box-sizing:border-box;
        margin-bottom:5vw;
        grid-column:2;
        grid-row:2;
        padding-right:6vw;
        padding-left:6vw;

    }

    .homeAttractionImgContainer3{
        width:50vw;
        margin-bottom:5vw;
        box-sizing:border-box;
        grid-column:1;
        grid-row:3;
        padding-left:12vw;

    }

    .homeAttractionImgContainer4{
        width:50vw;
        margin-bottom:5vw;
        box-sizing:border-box;
        grid-column:2;
        grid-row:4;
        padding-right:6vw;
        padding-left:6vw;

    }

    .homeAttractionTextContainer1{
        width:50vw;
        grid-column:2;
        margin-bottom:5vw;
        box-sizing:border-box;
        grid-row:1;
        padding-right:6vw;
        padding-left:6vw;

    }
    .homeAttractionTextContainer2{
        margin-bottom:5vw;
        box-sizing:border-box;
        width:50vw;
        grid-column:1;
        grid-row:2;
        padding-left:12vw;
    }


.homeAttractionTextContainer3{
    width:50vw;
    margin-bottom:5vw;
    box-sizing:border-box;
    grid-column:2;
    grid-row:3;
    padding-right:6vw;
    padding-left:6vw;

}
.homeAttractionTextContainer4{
    width:50vw;
    grid-column:1;
    margin-bottom:5vw;
    box-sizing:border-box;
    grid-row:4;
    padding-left:12vw;


}

.homeAttractionImg{
    width:38vw;

}

.homeAttractionTitle{
    color:black;
    font-weight:bold;
    font-size:25px;
    margin-bottom:2vw;


}

.homeAttractionBtn{
    color:black;
    font-weight:bold;
    border:none;
    background-color:transparent;
    font-size:20px;
    cursor:pointer;
}

.homeAttractionParagraph{
    width:36vw;
    color:#555f69;
    font-size:20px;
    margin-bottom:2vw;
}
}

@media screen and (min-width:1400px){
.homeAttractionTitle{
font-size:36px;
}

.homeAttractionParagraph{
    font-size: 27px;
}

.homeAttractionBtn{
    font-size:27px;
}


}

@media screen and (min-width:1800px){
    .homeAttractionTitle{
    font-size:42px;
    }
    
    .homeAttractionParagraph{
        font-size: 32px;
    }
    
    .homeAttractionBtn{
        font-size:32px;
    }
    
    
    }