@media screen and (min-width:1px){
    .storePageMobile{
        width:0.0001px;
        height:0.0001px;
        display:none;
        opacity:0;
    }

}

@media screen and (min-width:300px){
    .storePageMobile{
        width:100%;
        height:auto;
        display:block;
        opacity:1;
        padding-top:30vh;
    }

    .storePageImgMobile{
        width:100vw;
        height:auto;
        transition: transform 0.5s;
    }

    .storePageImgMobile:hover{
        transform: scale(1.1);
    }

    .storePageTitleContainerMobile{
        width:100%;
        height:23vh;
        background-color: rgb(153, 204, 51);
        padding-left:4vw;
        box-sizing:border-box;
    }

    .storePageTitleMobile{
        font-size:28px;
        font-weight:bold;
        color:white;
        padding-top:7vh;

    }

    .storePageStoresContainerMobile{
        width:100%;
        height:auto;
       
    }
.storePageFigcaptionMobile{
    height:40vh;
}

.storePageFigcaptionMobile2{
    height:15vh;
}
    .storePageStoreTitleMobile{
    font-size:22px;
    color: rgb(153, 204, 51);
    font-weight:bold;
    margin-left:2vw; 
    margin-top:2vh;
    margin-bottom:4vh;
    }

    .storePageStoreParagraphMobile{
        font-size:16px;
        color:black;
        width:96vw;
        margin-left:2vw;
    }

}

@media screen and (min-width:1024px){
    .storePageMobile{
        width:0.0001px;
        height:0.0001px;
        display:none;
        opacity:0;
    }

}